{% extends "layout.html" %}

{% block title %}
    Import
{% endblock %}

{% block main %}
    <form action="/import" method="post">

        <div class="form-group">
            <input class="form-control" name="date" placeholder="Date" type="date">
        </div>

        <div class="form-group">
            <label for="csv">Choose a file</label>
            <input type ="file" name="csv" id="csv">
        </div>
        
        <button class="btn btn-primary" type="submit">Import</button>
    </form> 

{% endblock %}